<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.drop">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/drop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/drop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddTankToDBActivity"
            android:theme="@style/AppTheme.PopUp">
        </activity>
        <activity android:name=".WelcomeActivity1" />
        <activity android:name=".DropRegistrationActivity" />
        <activity android:name=".DropUserLoginActivity" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeNavigationActivity"
            android:label="@string/title_activity_home_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>